.mainUserProfileSidebar{
    
    overflow: hidden;
    overflow-y: scroll;
    border-top: 5px solid green;
    border-top-right-radius: 25px;
}
.mainUserProfileSidebar::-webkit-scrollbar {
    display: none;
}
.userProfilesidebarList{
    list-style-type: none;
}
.userProfileImage{
    height:125px;
    width:125px;
    border-radius: 50%;
}
.userHouseAddress{
    text-align: justify;
}
/* UserProfile Image side */
.uploadProfileImageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.updateUserProfileImage{
    width:150px;
    height:150px; 
}
.uplaodNameBox{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.userNamelabel{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
.UpdateUserprofileBtn{
    width:35%;
    margin-left:15%;
    margin-top: 2rem;
}